
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
  }
  
 
  
  body {
    background-color: #f6f6f6;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
    
  }
  
  .calculator {
    width: 400px;
    border: 1px solid black;
    border-radius: 22px;
    padding: 20px;
    background-color: #D9D9D9;
  }
  
  .screen {
    padding: 10px 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: #333333;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .screen-last {
    min-height: 32px;
    font-size: 20px;
  }
  
  .screen-current {
    min-height: 64px;
    font-size: 40px;
    
  }
  
  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }
  
  .span-2 {
    grid-column: span 2;
  }
  
  .btn {
    padding: 20px;
    width: 58px;
    height: 70px;
    border-radius: 13px;
    background-color: #777777;
    font-size: 20px;
  }
  .btn-or {
    padding: 20px;
    border-radius: 13px;
    background-color: #FF9500;
    font-size: 20px;
    width: 58px;
    height: 70px;
  }
  .btn-gre {
    padding: 20px;
    width: 58px;
    height: 70px;
    border-radius: 13px;
    background-color: #28A745;
    font-size: 20px;
  }
  .btn:hover {
    background-color: #ddd;;
  }
  #clearBtn{
      margin-bottom: 20px;
      margin-left: 289px;
      }
  .btn:active {
    background-color: #ccc;
  }
  
  .btn-red {
    background-color: #FF0000;
    font-size: 20px;
  }
  
  .btn-red:hover {
    background-color: #e99;
  }
  
  .btn-red:active {
    background-color: #d88;
  }
